@import 'reset'

$fallback: Helvetica, Arial, sans-serif

$red: #f92116

= script
  font-family: "Dancing Script", $fallback
  font-weight: normal

= numeral
  font-family: "Old Standard TT", $fallback
  font-weight: normal
  font-style: italic

= sans
  font-family: "Alegreya Sans", $fallback
  font-weight: normal

= blurry($color: #000, $size: 4)
  color: $color
  @if $size > 2
    text-shadow: 0 0 #{$size}px $color, 0 0 2px $color
  @else
    text-shadow: 0 0 #{$size}px $color
  opacity: .9


body
  color: #000
  font-size: 20px
  background: #fffff3 url("/images/kevin_bg.jpg") center

a
  text-decoration: none

#container
  max-width: 900px
  margin: 0 auto
  padding: 0 20px

h1
  text-align: center
  margin: 50px 0
  a
    +script
    +blurry($red)
    font-size: 100px
    line-height: 100%

h2  
  text-align: center
  +script
  +blurry(#f92116, 2)
  font-size: 40px
  margin: 0 0 50px 0
  line-height: 100%

form
  text-align: center
  dd
    margin: 0 0 40px 0
  label
    +sans
    +blurry($size: 1)
    margin: 0 0 5px 0
    text-transform: uppercase
    display: block
    font-style: italic
    letter-spacing: 2px
  input[type='text']
    background: transparentize(#ffebc7, .3)
    box-shadow: 0 0 5px 3px transparentize(#ffebc7, .3)
    border: none
    +script
    font-size: 40px
    +blurry($red, 2)
    padding: 5px 20px
    text-align: center
    &:focus
      outline: none
      background: transparentize(#ffebc8, .3)
      box-shadow: 0 0 5px 3px transparentize(#ffebc8, .3)
  input[type='submit']
    background: transparentize($red, .3)
    box-shadow: 0 0 3px 1px transparentize($red, .3)
    +blurry(#fffff3, 3)
    +sans
    font-style: italic
    text-transform: uppercase
    outline: none
    border: 0
    padding: 10px 40px
    font-size: 30px
    cursor: pointer
    letter-spacing: 4px
    &:hover
      background: transparentize($red, .1)
      box-shadow: 0 0 3px 1px transparentize($red, .1)

#disambiguate
  text-align: center
  font-size: 26px
  +blurry($size: 1)
  opacity: .95
  ul
    margin: 0 0 50px 0
    li
      margin: 0 0 5px 0
      a
        +sans
        +blurry($size: 2px)
        &:hover
          +blurry(#32b554, 2)

#results
  h3
    +sans
    font-style: italic
    text-align: center
    text-transform: uppercase
    +blurry($size: 2)
    font-size: 30px
    letter-spacing: 10px
    margin: 0 0 50px 0
  .bacon_number
    text-align: center
    margin-bottom: 50px
    p
      +sans
      font-style: italic
      color: $red
      font-size: 40px
      line-height: 80px
      text-transform: uppercase
      +blurry($red, 3)
      letter-spacing: 2px
    mark
      +numeral
      font-size: 150px
      line-height: 100%
      +blurry
      margin: 0 40px
      display: inline-block
      &:before,
      &:after
        position: relative
        content: "↑"
        margin: 0 30px 0 0
        font-size: 80%
        top: -20px
      &:after
        content: "↓"
        margin: 0 0 0 30px
  .result_list
    font-size: 26px
    +blurry($size: 1)
    opacity: .95
    > ul
      text-align: center
      > li
        float: left
        width: 100%
        padding: 30px 0
        position: relative
        &:before
          content: '•'
          position: relative
          display: block
          width: 20px
          margin: 0 auto
          opacity: .9
          +blurry($size: 2)
          top: -30px
        ul
          li
            display: inline-block
            +sans
            &:before
              margin: 0 20px
            &:first-of-type,
            &:last-of-type
              +blurry(#32b554, 1)
            &.actor:first-of-type + .movie
              &:before
                content: "←"
                +blurry(#32b554, 1)
              ~ .movie,
              ~ .actor
                &:before
                  content: "↔"
                  +blurry($size: 1)
              ~ .actor:last-of-type
                &:before
                  content: "→"
                  +blurry(#32b554, 1)
