@import 'reset'

= max-width($width: 640)
  @media screen and (max-width: #{$width}px)
    @content

= tablet
  +max-width(768)
    @content

= mobile
  +max-width(480)
    @content

= retina
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2)
    @content

= transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  transition: $args

$fallback: Helvetica, Arial, sans-serif

$red: #f92116

= script
  font-family: "Dancing Script", $fallback
  font-weight: normal

= numeral
  font-family: "Old Standard TT", $fallback
  font-weight: normal
  font-style: italic

= sans($weight: 800)
  font-family: "Alegreya Sans", $fallback
  font-weight: $weight

= blurry($color: #000, $size: 4)
  color: $color
  -webkit-mask-image: url("/images/kevin_bg_2.png")
  -webkit-mask-repeat: repeat
  opacity: .9

= underline-hover
  &:hover
    text-decoration: underline

body
  color: #000
  font-size: 20px
  background: #fffff3 url("/images/kevin_bg.jpg") center
  padding-bottom: 50px
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
  +retina
    background-size: 400px 400px
  > footer
    font-size: 16px
    +sans(normal)
    text-align: center
    padding: 80px 20px 40px 20px
    p
      margin: 0 0 10px 0
    a
      color: $red

a
  text-decoration: none
  color: inherit
  position: relative

#container
  max-width: 900px
  margin: 0 auto
  padding: 0 20px

h1
  text-align: center
  + h2
    &:before
      content: "“"
    &:after
      content: "”"
  a
    display: block
    +script
    +blurry($red)
    font-size: 130px
    line-height: 100%
    margin: 80px 0 0 0
    +max-width(768)
      font-size: 80px
    +max-width(480)
      font-size: 60px
      +blurry($red, 3)
    +tablet
      margin-top: 60px
    +mobile
      margin-top: 40px
      font-size: 60px

h2  
  text-align: center
  +script
  +blurry($red, 3)
  font-size: 40px
  margin: 0 0 80px 0
  +tablet
    margin-bottom: 60px
  +mobile
    margin-bottom: 40px
    font-size: 30px
    +blurry($red, 2)

form
  text-align: center
  dd
    margin: 0 0 40px 0
  label
    +sans
    +blurry($size: 2)
    margin: 0 0 5px 0
    text-transform: uppercase
    display: block
    font-style: italic
    letter-spacing: 2px
  input[type='text']
    background: transparentize(#ffebc7, .3)
    box-shadow: 0 0 5px 3px transparentize(#ffebc7, .3)
    border: none
    +script
    font-size: 40px
    line-height: 60px
    +blurry($red, 2)
    padding: 5px 0
    text-align: center
    border-radius: 200px
    +transition(box-shadow .2s, background .2s)
    width: 100%
    max-width: 400px
    &:focus
      outline: none
      background: transparentize(#ffebc7, .3)
      box-shadow: 0 0 5px 3px transparentize(#ffebc7, .3), inset 0 0 8px 0 #dfdbb7, 0 0 4px 0 #dfdbb7
  input[type='submit']
    background: url("/images/bg_grey.gif")
    box-shadow: inset 0 0 2px 2px #fffffe
    border: 0
    +blurry(#000, 5)
    +sans
    font-style: italic
    text-transform: uppercase
    outline: none
    padding: 10px 40px
    font-size: 30px
    cursor: pointer
    letter-spacing: 6px
    border-radius: 200px
    +transition(padding .1s)
    &:hover
      +blurry(#000, 3)
    &:active
      position: relative
      top: 1px
      padding-top: 12px
      padding-bottom: 8px

#disambiguate
  text-align: center
  font-size: 26px
  +blurry($size: 2)
  opacity: .95
  +mobile
    font-size: 22px
  h2
    margin-bottom: 40px
  ul
    margin: 0 0 50px 0
    li
      margin: 0 0 5px 0
      span
        margin: 0 10px
        +mobile
          margin: 0 5px
      a
        +sans(normal)
        +blurry($size: 2px)
        +underline-hover

#results
  overflow: hidden
  h3
    +sans
    font-style: italic
    text-align: center
    text-transform: uppercase
    +blurry($size: 2)
    font-size: 30px
    letter-spacing: 10px
    +mobile
      font-size: 20px
  h4
    +sans
    text-align: center
    font-style: italic
    margin: 0 0 50px 0
    +blurry($size: 2)
    font-size: 20px
    +mobile
      margin-bottom: 15px
  .bacon_number
    text-align: center
    margin-bottom: 50px
    +mobile
      margin-bottom: 40px
    p
      +sans
      font-style: italic
      color: $red
      font-size: 40px
      text-transform: uppercase
      +blurry($red, 3)
      letter-spacing: 2px
      line-height: 140%
      +mobile
        font-size: 25px
    mark
      +numeral
      font-size: 150px
      line-height: 100%
      +blurry
      display: inline-block
      &:before,
      &:after
        position: relative
        content: "↑"
        margin: 0 30px 0 0
        font-size: 80%
        top: -20px
        +mobile
          margin-right: 15px
      &:after
        content: "↓"
        margin: 0 0 0 30px
        +mobile
          margin-left: 15px
  .result_list
    font-size: 26px
    opacity: .95
    +mobile
      font-size: 22px
    > ul
      text-align: center
      > li
        float: left
        width: 100%
        padding: 30px 0
        position: relative
        a
          +underline-hover
        &:before
          content: '•'
          position: relative
          display: block
          width: 20px
          margin: 0 auto
          opacity: .9
          top: -30px
        +mobile
          padding: 15px 0
          &:before
            top: -15px
        ul
          li
            display: inline-block
            +sans(normal)
            &:before
              margin: 0 20px
              +mobile
                margin: 0 5px
            &:first-of-type,
            &:last-of-type
              color: #32b554
            &.actor:first-of-type + .movie
              &:before
                content: "←"
                color: #32b554
              ~ .movie,
              ~ .actor
                &:before
                  content: "↔"
                  color: #32b554
              ~ .actor:last-of-type
                &:before
                  content: "→"
                  color: #32b554
