<h1>Kevin Bacon</h1>

<h2>Did you mean one of the below?</h2>

<p><a href=
"/search?person1=Parker%2C+Mary+%28IV%29&amp;person2=Bacon%2C+Kevin+%28I%29">
Parker, Mary (IV) -&gt; Bacon, Kevin (I)</a></p>

<p><a href=
"/search?person1=Parker%2C+Mary+%28II%29&amp;person2=Bacon%2C+Kevin+%28I%29">
Parker, Mary (II) -&gt; Bacon, Kevin (I)</a></p>

<p><a href=
"/search?person1=Parker%2C+Mary-Louise&amp;person2=Bacon%2C+Kevin+%28I%29">
Parker, Mary-Louise -&gt; Bacon, Kevin (I)</a></p>

<p><a href=
"/search?person1=Parker%2C+Mary+Anne&amp;person2=Bacon%2C+Kevin+%28I%29">
Parker, Mary Anne -&gt; Bacon, Kevin (I)</a></p>

<p><a href=
"/search?person1=Parker%2C+Mary+%28I%29&amp;person2=Bacon%2C+Kevin+%28I%29">
Parker, Mary (I) -&gt; Bacon, Kevin (I)</a></p>

<p><a href=
"/search?person1=Williams%2C+Mary+Parker&amp;person2=Bacon%2C+Kevin+%28I%29">
Williams, Mary Parker -&gt; Bacon, Kevin (I)</a></p>

<form action="search" method="get">
  <h2>Search</h2>

  <fieldset>
    <p>Choose two people</p>

    <p><label for="person1">From</label><input id="person1"
    name="person1" type="text" value="mary parker"></p>

    <p><label for="person2">To</label><input id="person2" name=
    "person2" type="text" value="Bacon, Kevin (I)"></p>
  </fieldset>

  <fieldset class="actions">
    <input type="submit" value="Go">
  </fieldset>
</form>
