%h1 Kevin Bacon
%h2 Did you mean one of the below?
- Phil.loop(1..10) do
  %p= link_to "#{Phil.name} -> #{Phil.name}"

%form{action: "search", method: "get"}
  %h2 Search
  %fieldset
    %p Choose two people
    %p
      %label{for: "person1"} From
      %input#person1{name: "person1", type: "text", value: "mary parker"}/
    %p
      %label{for: "person2"} To
      %input#person2{name: "person2", type: "text", value: "Bacon, Kevin (I)"}/
  %fieldset.actions
    %input{type: "submit", value: "Go"}/