#disambiguate
  %h2 Did you mean one of these?
  %ul
    - Phil.loop(1..10) do
      %li
        = link_to "#" do
          #{Phil.name}
          %span &rarr;
          #{Phil.name}
%h2 Or you can try a new search, if you like
= partial 'search_form'