%h1 Kevin Bacon
#results
  %h2 Results
  %p
    Bacon Number:
    %strong 2
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Rocky II (1979)
    %li.actor McCrane, Paul
    %li.movie Beyond All Boundaries (2009)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Junket Whore (1998)
    %li.actor De Niro, Robert
    %li.movie Sleepers (1996)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie An Alan Smithee Film: Burn Hollywood Burn (1997)
    %li.actor Devon, Tony
    %li.movie Telling Lies in America (1997)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Tango & Cash (1989)
    %li.actor Morshower, Glenn
    %li.movie X-Men: First Class (2011)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Cop Land (1997)
    %li.actor Castle, Robert W.
    %li.movie Sleepers (1996)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Daylight (1996)
    %li.actor De Alessandro, Mark
    %li.movie Super (2010/I)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Shade (2003)
    %li.actor Townsend, Stuart (I)
    %li.movie Trapped (2002)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Driven (2001)
    %li.actor Reynolds, Burt (I)
    %li.movie Starting Over (1979)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Tango & Cash (1989)
    %li.actor Hong, James (I)
    %li.movie R.I.P.D. (2013)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie In the Shadow of Hollywood (2000)
    %li.actor Stone, Sharon (I)
    %li.movie He Said, She Said (1991)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Daylight (1996)
    %li.actor Sontz, Joey
    %li.movie Picture Perfect (1997)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Paradise Alley (1978)
    %li.actor Conway, Kevin (I)
    %li.movie Mystic River (2003)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Rocky (1976)
    %li.actor Spinell, Joe
    %li.movie Going to Pieces: The Rise and Fall of the Slasher Film (2006)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Cop Land (1997)
    %li.actor Keitel, Harvey (I)
    %li.movie Imagine New York (2003)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Spy Kids 3-D: Game Over (2003)
    %li.actor Judge, Mike (I)
    %li.movie R.I.P.D. (2013)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Zookeeper (2011)
    %li.actor Vezina, George J.
    %li.movie R.I.P.D. (2013)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Daylight (1996)
    %li.actor Sanders, Jay O.
    %li.movie JFK (1991)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Junket Whore (1998)
    %li.actor Shore, Pauly
    %li.movie Film Trix 2004 (2004)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Sir! No Sir! (2005)
    %li.actor Cronkite, Walter
    %li.movie Apollo 13 (1995)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Junket Whore (1998)
    %li.actor Madonna
    %li.movie Vanilla Ice Archive (2012)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Sir! No Sir! (2005)
    %li.actor Cronkite, Walter
    %li.movie Frost/Nixon (2008)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Escape Plan (2013)
    %li.actor Martinez, David Joseph
    %li.movie X-Men: First Class (2011)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Tango & Cash (1989)
    %li.actor Davis, John Walter
    %li.movie Quicksilver (1986)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie A Century of Cinema (1994)
    %li.actor Corman, Roger
    %li.movie Apollo 13 (1995)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Daylight (1996)
    %li.actor Young, Karen (I)
    %li.movie Criminal Law (1988)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Cliffhanger (1993)
    %li.actor McGill, Bruce
    %li.movie End of the Line (1987)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie D-Tox (2002)
    %li.actor Alvarado, Angela (I)
    %li.movie She's Having a Baby (1988)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Gremlins 2: The New Batch (1990)
    %li.actor Colton, Jacque Lynn
    %li.movie Quicksilver (1986)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Spy Kids 3-D: Game Over (2003)
    %li.actor Clooney, George
    %li.movie Going to Pieces: The Rise and Fall of the Slasher Film (2006)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie An Alan Smithee Film: Burn Hollywood Burn (1997)
    %li.actor Thornton, Billy Bob
    %li.movie Jayne Mansfield's Car (2012)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Lock Up (1989)
    %li.actor Rucker, Bo
    %li.movie Forty Deuce (1982)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie F.I.S.T (1978)
    %li.actor Herd, Richard (I)
    %li.movie Planes, Trains & Automobiles (1987)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Lock Up (1989)
    %li.actor D'Annibale, Frank
    %li.movie Quicksilver (1986)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Spy Kids 3-D: Game Over (2003)
    %li.actor O'Leary, Matt
    %li.movie Death Sentence (2007)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Junket Whore (1998)
    %li.actor Short, Martin (I)
    %li.movie The Big Picture (1989)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Corman's World: Exploits of a Hollywood Rebel (2011)
    %li.actor Spielberg, Steven
    %li.movie Eastwood Directs: The Untold Story (2013)
    %li.actor Bacon, Kevin (I)
  %ul
    %li.actor Stallone, Sylvester
    %li.movie Cop Land (1997)
    %li.actor Garofalo, Janeane
    %li.movie Vanilla Ice Archive (2012)
    %li.actor Bacon, Kevin (I)