- name = Phil.name

#results
  %h2 Bacon Number:
  %h3= Phil.pick 1..99
  .result_list
    - Phil.loop(1..50) do
      %ul
        - Phil.loop(1..5) do
          %li.actor= name
          %li.movie #{Phil.words(1..5).capitalize} #{1914 + Phil.pick(100)}
        %li.actor Kevin Bacon
