<h1>Kevin Bacon</h1>
<div id="results">
  <h2>Results</h2>
  <p>Bacon Number: <strong>2</strong></p>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Rocky II (1979)</li>
    <li class="actor">McCrane, Paul</li>
    <li class="movie">Beyond All Boundaries (2009)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Junket Whore (1998)</li>
    <li class="actor">De Niro, Robert</li>
    <li class="movie">Sleepers (1996)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">An Alan Smithee Film: Burn Hollywood Burn (1997)</li>
    <li class="actor">Devon, Tony</li>
    <li class="movie">Telling Lies in America (1997)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Tango &amp; Cash (1989)</li>
    <li class="actor">Morshower, Glenn</li>
    <li class="movie">X-Men: First Class (2011)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Cop Land (1997)</li>
    <li class="actor">Castle, Robert W.</li>
    <li class="movie">Sleepers (1996)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Daylight (1996)</li>
    <li class="actor">De Alessandro, Mark</li>
    <li class="movie">Super (2010/I)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Shade (2003)</li>
    <li class="actor">Townsend, Stuart (I)</li>
    <li class="movie">Trapped (2002)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Driven (2001)</li>
    <li class="actor">Reynolds, Burt (I)</li>
    <li class="movie">Starting Over (1979)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Tango &amp; Cash (1989)</li>
    <li class="actor">Hong, James (I)</li>
    <li class="movie">R.I.P.D. (2013)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">In the Shadow of Hollywood (2000)</li>
    <li class="actor">Stone, Sharon (I)</li>
    <li class="movie">He Said, She Said (1991)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Daylight (1996)</li>
    <li class="actor">Sontz, Joey</li>
    <li class="movie">Picture Perfect (1997)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Paradise Alley (1978)</li>
    <li class="actor">Conway, Kevin (I)</li>
    <li class="movie">Mystic River (2003)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Rocky (1976)</li>
    <li class="actor">Spinell, Joe</li>
    <li class="movie">Going to Pieces: The Rise and Fall of the Slasher Film (2006)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Cop Land (1997)</li>
    <li class="actor">Keitel, Harvey (I)</li>
    <li class="movie">Imagine New York (2003)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Spy Kids 3-D: Game Over (2003)</li>
    <li class="actor">Judge, Mike (I)</li>
    <li class="movie">R.I.P.D. (2013)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Zookeeper (2011)</li>
    <li class="actor">Vezina, George J.</li>
    <li class="movie">R.I.P.D. (2013)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Daylight (1996)</li>
    <li class="actor">Sanders, Jay O.</li>
    <li class="movie">JFK (1991)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Junket Whore (1998)</li>
    <li class="actor">Shore, Pauly</li>
    <li class="movie">Film Trix 2004 (2004)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Sir! No Sir! (2005)</li>
    <li class="actor">Cronkite, Walter</li>
    <li class="movie">Apollo 13 (1995)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Junket Whore (1998)</li>
    <li class="actor">Madonna</li>
    <li class="movie">Vanilla Ice Archive (2012)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Sir! No Sir! (2005)</li>
    <li class="actor">Cronkite, Walter</li>
    <li class="movie">Frost/Nixon (2008)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Escape Plan (2013)</li>
    <li class="actor">Martinez, David Joseph</li>
    <li class="movie">X-Men: First Class (2011)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Tango &amp; Cash (1989)</li>
    <li class="actor">Davis, John Walter</li>
    <li class="movie">Quicksilver (1986)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">A Century of Cinema (1994)</li>
    <li class="actor">Corman, Roger</li>
    <li class="movie">Apollo 13 (1995)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Daylight (1996)</li>
    <li class="actor">Young, Karen (I)</li>
    <li class="movie">Criminal Law (1988)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Cliffhanger (1993)</li>
    <li class="actor">McGill, Bruce</li>
    <li class="movie">End of the Line (1987)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">D-Tox (2002)</li>
    <li class="actor">Alvarado, Angela (I)</li>
    <li class="movie">She's Having a Baby (1988)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Gremlins 2: The New Batch (1990)</li>
    <li class="actor">Colton, Jacque Lynn</li>
    <li class="movie">Quicksilver (1986)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Spy Kids 3-D: Game Over (2003)</li>
    <li class="actor">Clooney, George</li>
    <li class="movie">Going to Pieces: The Rise and Fall of the Slasher Film (2006)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">An Alan Smithee Film: Burn Hollywood Burn (1997)</li>
    <li class="actor">Thornton, Billy Bob</li>
    <li class="movie">Jayne Mansfield's Car (2012)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Lock Up (1989)</li>
    <li class="actor">Rucker, Bo</li>
    <li class="movie">Forty Deuce (1982)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">F.I.S.T (1978)</li>
    <li class="actor">Herd, Richard (I)</li>
    <li class="movie">Planes, Trains &amp; Automobiles (1987)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Lock Up (1989)</li>
    <li class="actor">D'Annibale, Frank</li>
    <li class="movie">Quicksilver (1986)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Spy Kids 3-D: Game Over (2003)</li>
    <li class="actor">O'Leary, Matt</li>
    <li class="movie">Death Sentence (2007)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Junket Whore (1998)</li>
    <li class="actor">Short, Martin (I)</li>
    <li class="movie">The Big Picture (1989)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Corman's World: Exploits of a Hollywood Rebel (2011)</li>
    <li class="actor">Spielberg, Steven</li>
    <li class="movie">Eastwood Directs: The Untold Story (2013)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
  <ul>
    <li class="actor">Stallone, Sylvester</li>
    <li class="movie">Cop Land (1997)</li>
    <li class="actor">Garofalo, Janeane</li>
    <li class="movie">Vanilla Ice Archive (2012)</li>
    <li class="actor">Bacon, Kevin (I)</li>
  </ul>
</div>
