---
title: Kevin
---

<h1>Kevin Bacon</h1>

<form action="search" method="get">
  <h2>Search</h2>

  <fieldset>
    <p>Choose two people</p>

    <p>
      <label for="person1">From</label>
      <input id="person1" name="person1" type="text">
    </p>

    <p>
    <label for="person2">To</label><input id="person2" name=
    "person2" type="text" value="Bacon, Kevin (I)"></p>
  </fieldset>

  <fieldset class="actions">
    <input type="submit" value="Go">
  </fieldset>
</form>
