---
title: Kevin
---

%form{action: "search", method: "get"}
  %h2 Calculate a Bacon Number
  %fieldset
    %dl
      %dt
        %label{for: "person1"} Choose an actor
      %dd
        %input#person1{name: "person1", type: "text"}
      %dt
        %label{for: "person2"} Choose another actor
      %dd
        %input#person2{name: "person2", type: "text", value: "Bacon, Kevin (I)"}
  %fieldset.actions
    %input{type: "submit", value: "Search"}