---
title: Kevin
---

%form
  %fieldset
    %dl
      %dt
        %label Choose an actor
      %dd
        %input(type='text')
      %dt
        %label Choose another actor
      %dd
        %input(type='text')
  %fieldset.actions
    %input(type='submit' value='calculate')
