---
title: Kevin
---

%h1 Kevin Bacon
%form{action: "search", method: "get"}
  %h2 Search
  %fieldset
    %p Choose two people
    %p
      %label{for: "person1"} From
      %input#person1{name: "person1", type: "text"}/
    %p
      %label{for: "person2"} To
      %input#person2{name: "person2", type: "text", value: "Bacon, Kevin (I)"}/
  %fieldset.actions
    %input{type: "submit", value: "Go"}/